[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
gunicorn = "*"
psycopg2 = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
"sqlalchemy.orm" = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
